@import '../abstract/variaveis';


.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: $fundo-card;
    padding: .5em;
    .logo-pesquisa{
        display: flex;
        justify-content: center;
        align-items: center; 
        img{
            padding-right: .5em;
        }
        input{
            background-color: $input;
            border: solid 0.5em  $input;
            border-radius: .3em;
            background-image: url(/assets/images/navbar/icone-busca.svg);
            background-repeat: no-repeat;
            background-position: left;
            background-size: 24px;
            padding-left: 2em;
            &::placeholder{
                color: $cor-primario;
                font-size: $tamanho-da-fonte - 2;
            }
        }
    }
    .menu{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        list-style: none;
        gap: 2em;
        li{
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            &:nth-child(5){
            border-right: .1em solid $cor-primario;
            padding-right: .5em;
            }
            img{
                width: 24px;
            }
            span{
                font-size: $tamanho-da-fonte - 4;
            }
        }
        
    }
}
