@import '../abstract/variaveis';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: $fonte;
    font-size: $tamanho-da-fonte;
    font-weight: $peso-da-fonte;
    color: $cor-primario;
}

body{
    background-color: $fundo-body;
    display: grid;
    grid-template-rows: 0fr 1fr;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
        "nav nav"
        "main aside"
        "main aside";
}
 
main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
aside {
    grid-area: aside;
}

header{
    grid-area: nav;
}

.card{
    background-color: $fundo-card;
    margin-top: 1em;
    border-radius: 1em;
    width: 780px;
}







