@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

$fonte:'Inter', sans-serif;
$tamanho-da-fonte: 16px;
$peso-da-fonte: 400;

$cor-primario: #ffffff;
$cor-secundario: #A4A7A8;
$cor-destaque:#70B5F9;

$fundo-body: #000000;
$fundo-card: #1B2226;

$input: #38434F;